<!DOCTYPE html>
<html>

<head>
    <title>COMP2068 | MEAN Stack Single Page App</title>

    <!--css -->
    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap.min.css" />

    <link type="text/css" rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <a class="navbar-brand" href="/">COMP2068 MEAN Stack SPA</a>
    <ul class="nav navbar-nav">
        <li><a href="/"></a></li>
    </ul>
</nav>

<main class="container">

    <h1>Game Manager</h1>

    <section class="form-group jumbotron">
        <h2>Add a New Game</h2>
        <form>
            <fieldset class="form-group">
                <label for="title" class="control-label col-sm-3">Title:</label>
                <input name="title" id="city" ng-model="title" />
            </fieldset>
            <fieldset class="form-group">
                <label for="publisher" class="control-label col-sm-3">Publisher:</label>
                <input name="publisher" id="publisher" ng-model="publisher" />
            </fieldset>
            <fieldset class="form-group">
                <label for="genre" class="control-label col-sm-3">Genre:</label>
                <input name="genre" id="genre" ng-model="genre" />
            </fieldset>
            <fieldset class="form-group">
                <label for="year" class="control-label col-sm-3">Year:</label>
                <input name="year" id="year" ng-model="year" type="number" />
            </fieldset>
            <button class="btn btn-success col-sm-offset-3">Add</button>
        </form>
    </section>

    <section>
        <h2>Game List</h2>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Publisher</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        </table>
    </section>

</main>

<!--js-->
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/jquery-3.1.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/scripts.js"></script>

<footer class="alert alert-info">
    &copy; 2016 | COMP2068 - Advanced Web Programming
</footer>

</body>
</html>

